* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 112.5%=18px */
html {
  font-size: 112.5%;
}
:root {
  /* primary color */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* nuetral color */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
}
button {
  cursor: pointer;
}

.header {
  position: absolute;
  background-color: var(--white);
  height: 5rem;
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 3;
}
.desktop-nav-icon,
.btn-header {
  display: none;
}
@media only screen and (max-width: 767px) {
  .nav-icon:hover .desktop-nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    height: 18rem;
    width: 80%;
    background-image: var(--white);
    background-color: white;
    position: absolute;
    top: 6rem;
    left: 2rem;
    box-shadow: 1rem 4rem 10rem 4.5rem rgb(110, 107, 107);
    border-radius: 0.1rem;
  }
  .nav-icon:hover .home {
    display: none;
  }

  .nav-icon:hover .desktop-nav-icon ul {
    /* border: 2px solid red; */
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* background-color: white; */
    background-image: var(--white);
    gap: 1.3em;
    padding-top: 2.5em;
  }
  .nav-icon:hover .desktop-nav-icon ul li > a {
    color: black;
    font-size: 1.2rem;
  }
}

.container {
  width: 100vh;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#bank-info {
  /* border: 10px solid red; */
  height: auto;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 8rem;
}
.next-generation {
  /* border: 2px solid rgb(34, 0, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mob-img {
  /* border: 2px solid red; */
  background-image: url("images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  /* background-attachment: fixed; */
  background-position-y: 2.8em;
  /* background-size: cover; */
}

.mob-img > img {
  z-index: 1;
  width: 100%;
  transform: translateY(-2.4rem);
}
.next-text {
  height: 12rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--light-grayish-blue); */
}

.heading > p {
  font-size: 2.3rem;
  margin-left: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.bank-description > p {
  font-size: 0.8rem;
  margin-left: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 1.5rem;
  color: var(--grayish-blue);
  line-height: 1.5rem;
}
.btn {
  /* border: 2px solid red; */
  width: 100%;
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 1rem;
  color: white;
  height: 100%;
  width: 53%;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-radius: 1.5rem;
  text-align: center;
  font-weight: bold;
  border: none;
}

/* section why choose easybank start */
#why-choose-easybank {
  height: auto;
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.9rem;
  background-color: var(--light-grayish-blue);
}

.bank-upbox {
  /* background-color: antiquewhite; */
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  /* border: 10px solid rebeccapurple; */
}

.why-choose-easybank-text {
  font-size: 2rem;
  text-align: center;
  /* border: 2px solid green; */
}
.why-choose-easybank-details {
  font-size: 0.8rem;
  text-align: center;
  /* border: 2px solid red; */
  margin-top: 2rem;
  color: var(--grayish-blue);
  line-height: 1.3rem;
}
.bank-lowerbox {
  /* border: 2px solid gold; */
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-around; */
}
.bankdatails {
  /* border: 2px solid red; */
  width: 100%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.online {
  font-size: 1.2rem;
}

.online-text {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.3rem;
  color: var(--grayish-blue);
}

/* latest-article section start.. */
/* latest-article section start.. */
#latest-articles {
  /* border: 2px solid red; */
  height: auto;
  display: flex;
  width: auto;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.latest-article-items {
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;

  /* justify-content: space-around; */
}
.resturant,
.currency,
.plane,
.confetti {
  height: 100%;
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.latest-article-heading {
  /* font-weight: bold; */
  padding-top: 3rem;
  font-size: 2rem;
}
.latest-article-img {
  /* border: 2px solid red; */

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

.latest-article-img > img {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.latest-article-text-div {
  /* border: 2px solid red; */
  display: flex;
  height: auto;
  width: 15rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.author {
  font-size: 0.65rem;
  align-self: flex-start;
  color: var(--grayish-blue);
}
.article-text {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}
.article-text-heading {
  font-size: 1rem;
}
.article-text-heading > a {
  text-decoration: none;
  color: rgb(46, 44, 44);
}
.article-text-heading > a:hover {
  opacity: 1;
}
/* footer section  */
#footer {
  height: auto;
  width: 100%;

  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding: 2.4rem;
}
.bank-logo-footer {
  /* border: 2px solid red; */
  width: 11rem;
  height: 2rem;
}
.bank-logo-footer > img {
  width: 100%;
  width: 100%;
}
.social-media-icon {
  font-size: 2.5rem;
  height: 3rem;
  width: 13rem;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social-media-icon > a {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}
.social-media-icon > a > svg {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}
.footer-div {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  gap: 1rem;
}
.footer-div > a {
  color: var(--white);
  font-size: 1rem;
}
.copy-rights {
  font-size: 1rem;
  width: auto;
  /* border: 2px solid red; */
  color: var(--grayish-blue);
}
.footer-btn {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-btn > button {
  width: 80%;
}
a:hover {
  color: var(--lime-green);
  opacity: 0.5;
}
svg:hover path {
  fill: var(--lime-green);
}

@media only screen and (min-width: 700px) {
  body {
    font-family: "Public Sans", sans-serif;
  }

  html {
    font-size: 150%;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  .header {
    position: static;
    background-color: var(--very-light-gray);
    height: 5rem;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 5rem;
    z-index: 0;
  }
  .bank-logo {
    /* border: 2px solid red; */
    width: 10rem;
    height: auto;
  }
  .bank-logo > img {
    width: 100%;
    height: 100%;
  }
  .nav-icon > img {
    display: none;
  }
  .desktop-nav-icon,
  .btn-header {
    display: block;
  }

  .desktop-nav-icon > ul {
    font-size: 0.9rem;
    display: flex;
    width: 25rem;
    justify-content: space-around;
    /* border: 2px solid red; */
    /* text-decoration: none; */
    list-style: none;
  }
  .desktop-nav-icon > ul > li > a {
    color: var(--grayish-blue);
  }
  .btn-header {
    width: 10rem;
    height: 2.2rem;
    /* border: 2px solid rebeccapurple; */
    margin-right: 3.75rem;
  }
  .btn-header > button {
    width: 100%;
    font-size: 0.9rem;
    color: rgb(221, 218, 214);
  }
  /* header end here */

  .container {
    /* border: 2px solid red; */
    width: 100vh;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
  }

  #bank-info {
    /* border: 10px solid red; */
    height: 100%;
    display: flex;
    width: 100%;
    background-color: var(wh);
  }
  .next-generation {
    /* border: 2px solid rgb(34, 0, 255); */
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }
  .mob-img {
    width: 60%;
    height: auto;
    background-image: none;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    /* margin-right: -6rem; */

    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 1rem -12rem;
    background-size: 60rem;
    margin-right: -1rem;
  }

  .mob-img > img {
    z-index: 1;
    width: 80%;
    height: 100%;
    transform: translateY(-6rem);
    margin-right: -4rem;
  }

  .next-text {
    height: auto;
    width: 29%;
    margin-left: 8rem;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -10rem;
    padding: 0.5rem;

    /* background-color: var(--light-grayish-blue); */
  }

  .heading > p {
    font-size: 2.3rem;
    margin-left: 0rem;
    margin-right: 0.8rem;
    margin-bottom: 1.5rem;
    text-align: start;
  }

  .bank-description > p {
    font-size: 0.8rem;
    margin-left: 0rem;
    margin-right: 0.8rem;
    margin-bottom: 1.5rem;
    color: var(--grayish-blue);
    line-height: 1.2rem;
  }
  .btn {
    /* border: 2px solid red; */
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: flex-start;
  }
  button {
    font-size: 1rem;
    color: white;
    height: 100%;
    width: 50%;
    padding: 0.5rem;

    background-image: linear-gradient(
      to right,
      var(--lime-green),
      var(--bright-cyan)
    );
    border-radius: 1.5rem;
    text-align: center;
    font-weight: bold;
    border: none;
  }

  /* section why choose easybank start */
  #why-choose-easybank {
    height: auto;
    /* border: 3px solid blue; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    /* padding: 1.9rem; */
    margin-top: -20rem;
    background-color: var(--light-grayish-blue);
  }

  .bank-upbox {
    /* background-color: antiquewhite; */
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6rem;
    /* padding: 0.5rem; */
    margin-left: 1rem;

    /* border: 10px solid rebeccapurple; */
  }

  .why-choose-easybank-text {
    font-size: 2rem;
    text-align: center;
    /* border: 2px solid green; */
  }
  .why-choose-easybank-details {
    font-size: 0.8rem;
    width: 45%;
    text-align: start;
    /* border: 2px solid rgb(143, 38, 38); */
    margin-top: 1rem;
    color: var(--grayish-blue);
    line-height: 1.2rem;
  }
  .bank-lowerbox {
    /* border: 2px solid gold; */
    height: 90%;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 3rem;
    margin-left: 9rem;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .bankdatails {
    /* border: 2px solid red; */
    width: 19%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    /* padding: 0.5rem; */
  }
  .online {
    font-size: 1rem;
    /* border: 2px solid red; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .online-text {
    /* border: 2px solid red; */
    width: 98%;
    font-size: 0.8rem;
    text-align: start;
    line-height: 1rem;
    color: var(--grayish-blue);
  }

  /* latest-article section start.. */
  #latest-articles {
    /* border: 2px solid red; */
    height: 24rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  .latest-article-heading {
    padding-top: 3rem;
    margin-left: 7rem;
  }
  .latest-article-items {
    /* border: 5px solid rgb(0, 98, 255); */
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
  }
  .resturant,
  .plane,
  .confetti {
    height: 100%;
    width: 19.5%;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0.2rem;
    /* margin-left: 6rem; */
    box-shadow: rgba(129, 126, 126, 0.1) 0px 4px 12px;
  }
  .currency {
    height: 100%;
    width: 17.5%;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0.2rem;
    /* margin-left: 6rem; */
    box-shadow: rgba(129, 126, 126, 0.1) 0px 4px 12px;
  }
  .latest-article-img {
    /* border: 2px solid rgb(255, 0, 208); */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .latest-article-img > img {
    /* border: 2px solid green; */
    height: 90%;
    width: 100%;
    padding: 0%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .latest-article-text-div {
    /* border: 2px solid red; */
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.1rem;
    padding-left: 10%;
    gap: 0.5rem;
  }
  .author {
    font-size: 0.7rem;
    align-self: flex-start;
    color: var(--grayish-blue);
  }
  .article-text {
    font-size: 0.7rem;
    color: var(--grayish-blue);
    line-height: 0.8rem;
  }
  .article-text-heading {
    font-size: 0.9rem;
  }

  /* footer section  */
  #footer {
    height: 12rem;
    width: 100%;

    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;

    /* padding: 2.4rem; */
    padding-left: 8rem;
    margin-right: -5rem;
  }
  .bank-logo-footer {
    height: 2rem;
    /* border: 2px solid red; */
    width: 10rem;
  }
  .bank-logo-footer > img {
    width: 90%;
  }

  .social-media-icon {
    height: 3rem;
    width: 11rem;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  .social-media-icon > a {
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100%; */
  }
  .social-media-icon > a > svg {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
  }

  .footer-div {
    flex-direction: column;
    width: 30%;
    height: 6rem;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: flex-start;
    /* gap: 1em; */
    margin-left: -2rem;
  }
  .footer-div > a {
    color: var(--white);
    font-size: 0.8rem;
  }
  .copy-rights {
    font-size: 0.9rem;
    color: var(--grayish-blue);
  }
  .footer-btn {
    /* border: 1px solid red; */
    width: 12.6%;
    display: flex;
    justify-content: flex-end;
    margin-right: -6rem;
  }
  .footer-btn > button {
    width: 100%;
    font-size: 0.8rem;
  }

  a:hover {
    color: var(--lime-green);
    opacity: 0.4;
  }
  svg:hover path {
    fill: var(--lime-green);
  }
}
